<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'bundles/monsacdesport/css/style.sass'
                filter="cssrewrite,sass" output='css/style.css' %}
                   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div>
			<nav class="top-bar" data-topbar>
			  <ul class="title-area">
				<li class="name">
				  <h1><a href="{{path('front_products')}}">Mon sac de sport</a></h1>
				</li>
				 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			  </ul>

			  <section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
				  <li class="active"><a href="{{ path('fos_user_security_logout')}}">Déconnexion</a></li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
				  <li class="has-dropdown not-click">
					<a href="{{ path('admin_products') }}">Articles</a>
					<ul class="dropdown">
					  <li><a href="{{ path('admin_product_new') }}">Nouvel article</a></li>
					</ul>
				  </li>
				  <li>
					<a href="">Comptes client</a>
				  </li>
				   <li class="has-dropdown not-click">
					<a href="{{ path('admin_commandes') }}">Commandes</a>
					<ul class="dropdown">
					  <li><a href="{{ path('admin_commandes', { status: 1 }) }}">Commandes à valider</a></li>
					  <li><a href="{{ path('admin_commandes', { status: 2 }) }}">Commandes à expédier</a></li>
					  <li><a href="{{ path('admin_commandes', { status: 3 }) }}">Commandes expédiées</a></li>
					</ul>
				  </li>
				</ul>
			   
			  </section>
			</nav>
		</div>
		<div class="large-12 columns">
			{% block content %}
			{% endblock %}
		</div>
        {% javascripts
            'bundles/monsacdesport/jquery/jquery.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>