{% extends 'MonSacDeSportBundle::admin_layout.html.twig' %}

{% block content %}
     <h1>Modifier un article</h1>

    {{ form_start(form) }}

    	{{ form_row(form.name) }}
    	{{ form_row(form.description) }}
    	{{ form_row(form.price) }}
    	{{ form_row(form.brand) }}
    	{{ form_row(form.size) }}
    	{{ form_row(form.quantity) }}

    	<ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" >
    		{% for image in entity.images %}
    		    <li><img style="max-width: 200px; max-height: 200px;" src="{{ asset(image.webPath) }}" /></li>
    		{% endfor %}
    		
    	</ul>

    	{{ form_row(form._token) }}

    	<button type="submit">Valider</button>
    </form>

{% endblock %}
