{% extends '::base.html.twig' %}

{% block title %}Catégorie {{ productCategory }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@MonSacDeSportBundle/Resources/public/css/list.sass'
    filter="cssrewrite,sass" output='css/list.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <h2>List of product in {{ productCategory }}</h2>

    {% if products is not empty %}

        <ul class="small-block-grid-6">
            {% for product in products %}

                <li>
                    {% for image in product.images|slice(0,1) %}
                        <img src="/uploads/{{ image.path }}" alt="{{ product.slug }}-{{ loop.index }}" />
                    {% endfor %}
                    <a class="button small" href="{{ path('front_product_show', {'productCategorySlug': product.productCategory.slug,  'productSlug' : product.slug }) }}">Voir</a>
                    <p>ajouter a panier</p>
                </li>

            {% endfor %}
        </ul>

    {% else %}

        <p>Aucun produit a afficher</p>

    {% endif %}

{% endblock %}