{% extends 'MonSacDeSportBundle::admin_layout.html.twig' %}

{% block content %}
    <h1>Commande list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Numéro de commande</th>
                <th>Statut</th>
                <th>Expédiée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_commande_show', { 'id': entity.id }) }}">{{ entity.numCommande }}</a></td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.sentAt %}{{ entity.sentAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_commande_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_commande_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
